<div id="projects">
		<h2>Works</h2><br/>
		<div class="row-one">
			<div class="view view-fifth">  
				<div id="nanairo-picture">  
					<div class="mask">
						<h2>株式会社ジ・エトワール様
	デザイン/コーディング/CMS導入</h2>  
						<p>A website for something.<br/>Made with something.</p> 
						<a href="http://nanairocobako.com/" class="info">Visit site!!</a>  
					</div>
				</div>  
			</div>  
			<div class="view view-fifth">  
			 <div id="nao-picture">  
				<div class="mask">  
					<h2>株式会社スウィートパワー様
撮影/デザイン/コーディング/CMS導入</h2>  
					<p>A website for something<br/>Made with something.</p>  
					<a href="http://www.naosway.net/#nao" class="info">Visit site!!</a>  
				</div>  
			</div>
		</div>
		<div class="row-two">
			<div class="view view-fifth"> 

				<div class="mask">  
					<h2>株式会社ベネッセコーポレーション様
デザイン/コーディング</h2>  
					<p>A website for something.<br/>Made with something.</p>  
					<a href="http://www.fablearning.net/#!backuptop/cmjz" class="info">Visit site!!</a>  
					
				</div>  
			</div>
			<div class="view view-fifth">  
				
				<div id="fami-picture"> 
				<div class="mask">  
					<h2>株式会社ベネッセコーポレーション様
デザイン/コーディング</h2>  
					<p>A website for something.<br/>Made with something.</p>  
					<a href="http://www.familab.jp/" class="info">Visit site!!</a>  
				</div>  
				</div>  
			</div>  
		</div>    
	</div>

	<div style="border-style: solid ; border-width: 5px; padding: 10px 50px 20px; border-radius: 10px;"><h2><%= link_to "back", co_steps_path %></h2>


