<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<head>
	<title>Co-Steps</title>
	<link rel="shortcut icon" href="favicon.ico" /> 
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="scripts/nbw-parallax.js"></script>
	<script type="text/javascript" src="scripts/jquery.inview.js"></script>

	<link rel="stylesheet" type="text/css" href="styles.css">
	<script src="script.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" />
	<script type="text/javascript">
	$(document).ready(function(){
	$('#nav').localScroll();
	})
	</script>
</head>
<body>

	<nav>
		<div id="hideBox">
		<div id="logo-picture">
			
		</div>
			<p class="nButton" id="pageTop" >Home</p>
			<p class="nButton" id="worknav" >Work</p>
			<p class="nButton" id="pressnav">Press</p>
			<p class="nButton" id="recruitnav">Recruit</p>
			<p class="nButton" id="visionnav">Our vision</p>
			<p class="nButton" id="mambernav">Member</p>
			<p class="nButton" id="companynav">Company</p>
			<p class="nButton" id="contactnav">Contact</p>
		</div>
	</nav>
	
	<div id="welcome">
		<h1>Course ＋ Step</h1>
		<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(進路を）共に&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一歩踏み出すきっかけを</h4>
	</div>

	
	<div id="work">
		<div class="textBlock"><div class="bg"></div>
			<h2>Work</h2><br/>

			<div style="border-style: solid ; border-width: 5px; padding: 10px 50px 20px; border-radius: 10px;"><P>・WEBサイト及び、WEBコンテンツの企画、制作、デザイン、運営、保守及び管理</p>
			<P>・人材採用、人材育成に関する支援、企画、運営及びコンサルティング</p>
			<P>・進路教育及びキャリア教育に関する支援並びにサービスの企画運営</p>
			</div>

			<div style="border-style: solid ; border-width: 5px; padding: 10px 50px 20px; border-radius: 10px;"><h2><%= link_to "Go to PORTFOLIO", works_path %> </h2>
			</div>

		</div>
	</div>

   

	<div id="press">
		<div id="modal-content">
			<div class="textBlock">
				<h2>Press</h2><br/>	
				<div class="box_srcollbar">
				   <h4>2014.07.22 学生・若手社会人向け求人サイト、「Co-Step」をリリース！</h4>
				   <h4>2014.07.20 弊社代表が○○向け講演会に登壇しました</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				</div>
			</div>
		</div>
	</div>

	<div id="recruit">
		<div class="textBlock">
			<h2>Recruit</h2><br/>
		</div>
	</div></h4>

	<div id="vision">
		<div class="textBlock">
			<h2>Our Vision</h2><br/>
			<div style="border-style: solid ; border-width: 5px;"><h2><%= link_to "MISSION STATEMENT", missions_path %></h2></div>
		</div>
	</div>

	<div id="member">
		<div class="textBlock">
			<h2>Member</h2><br/>

			<td><img src="images/fami.png"></div>
			<td><img src="images/fami.png"></div>
			
			

		</div>
	</div>

	<div id="company">
		<div class="textBlock">
			<h2>Company</h2><br/>

			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3241.756083351012!2d139.6942055!3d35.65838075!3	m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188caa5d0e3b75%3A0xd163a0d2f282ade!2z44CSMTUwLTAwNDYg5p2x5Lqs6YO95riL6LC35Yy65YaG5bGx55S677yR77yU4oiS77yR77yRIOODi-ODpeODvOODqeOCpOOCquODs-OCuua4i-iwtw!5e0!3m2!1sja!2sjp!4v1420884355862" width="300" height="200" frameborder="0" style="border:0; padding-bottom:90px; padding-left:600px; padding-top:300px;" ></iframe>
		</div>
	</div>

	<div id="contact">
		<div class="textBlock">
			<h2>Contact</h2><br/>
		</div>
	</div>
	<!-- <script src="blur.js"></script> -->
	






</body>
</html>