<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<head>
	<title>Co-Steps</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="scripts/nbw-parallax.js"></script>
	<script type="text/javascript" src="scripts/jquery.inview.js"></script>

	<link rel="stylesheet" type="text/css" href="styles.css">
	<script src="script.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" />
	<script type="text/javascript">
	$(document).ready(function(){
	$('#nav').localScroll();
	})
	</script>
</head>
<body>

	
	<div id="welcome">
		<h1>Course ＋ Step</h1>
		<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(進路を）共に&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一歩踏み出すきっかけを</h4>
	</div>

	
	<div id="work">
		<div class="textBlock">
			<h2>Work</h2><br/>

			<div style="border-style: solid ; border-width: 5px; padding: 10px 50px 20px; border-radius: 10px;"><P>・WEBサイト及び、WEBコンテンツの企画、制作、デザイン、運営、保守及び管理</p>
			<P>・人材採用、人材育成に関する支援、企画、運営及びコンサルティング</p>
			<P>・進路教育及びキャリア教育に関する支援並びにサービスの企画運営</p>
			</div>

			<div style="border-style: solid ; border-width: 5px; padding: 10px 50px 20px; border-radius: 10px;"><h2><%= link_to "Go to PORTFOLIO", works_path %> </h2>
			</div>

		</div>
	</div>

   

	<div id="press">
		<div id="modal-content">
			<div class="textBlock">
				<h2>Press</h2><br/>	
				<div class="box_srcollbar">
				   <h4>2014.07.22 学生・若手社会人向け求人サイト、「Co-Step」をリリース！</h4>
				   <h4>2014.07.20 弊社代表が○○向け講演会に登壇しました</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				</div>
			</div>
		</div>
	</div>

	<div id="recruit">
		<div class="textBlock">
			<h2>Recruit</h2><br/>
		</div>
	</div></h4>

	<div id="vision">
		<div class="textBlock">
			<h2>Our Vision</h2><br/>
			<div style="border-style: solid ; border-width: 5px;"><h2><%= link_to "MISSION STATEMENT", missions_path %></h2></div>
		</div>
	</div>

	<div id="member">
		<div class="textBlock">
			<h2>Member</h2><br/>
		</div>
	</div>

	<div id="company">
		<div class="textBlock">
			<h2>Company</h2><br/>
			
		</div>
	</div>

	<div id="contact">
		<div class="textBlock">
			<h2>Contact</h2><br/>
		</div>
	</div>
	<!-- <script src="blur.js"></script> -->
	






</body>
</html>