
<!DOCTYPE html>
<html>
<head>
  <title>Co-Step</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>	

	<nav>
		<div id="hideBox">
		<div id="logo-picture">
			
		</div>
			<p class="nButton" id="pageTop" ><%= link_to "Home", co_steps_path %></p>
			
		</div>
	</nav>
<div class="inquiry-layout">
	<div class="box_srcollbar_recruit_contact">
<p>
  お問い合わせいただきありがとうございました。
</p>

<p>株式会社Co-Stepにお問い合わせいただきありがとうございます。お問い合わ
せいただいた内容は2営業日以内でお返事致しますが、2営業日過ぎても弊社より連絡がない場合は、お手数おかけしますが、再度お問い合わせいただきますようお願い致します。<p>
</p>
</div>
</div>
</body>
</html>