/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#footer {
	margin-left: 10px;
	margin-top: 600px;
	 z-index:2;
}

#logo-picture     {
	margin-top: 30px;
	margin-left: 20px;
	margin-left: 10px;
	margin-bottom: 20px;
	z-index: 0;
	background: url("co-step.jpg");
	background-size: cover; /*ポイント!!!*/
	width: 160px;
	height: 100px; /*ここ変えて、収まった。*/

}


#hideBox {
	display: none;
	z-index: 1;
	background-color: #F8F8FF;
	position: fixed;
	height: 100%;
	width: 15%;
	opacity: 0.6;
}

#pageTop {
	font-family: 'Maven Pro';
	font-size: 28px;
	color: black;
	text-decoration: none;
	margin: 10px 20px 10px 20px;
	display: float-left;
	opacity: 1;
}

.nButton {
	font-family: 'Maven Pro';
	font-size: 28px;
	color: black;
	text-decoration: none;
	margin: 10px 20px 10px 20px;
	display: float-left;
	opacity: 1;
}

.nButton:hover, #pageTop:hover {
	cursor: pointer;
	color: #7c2728;
}

#nanairo-picture {
	background-image: url("nanairo.png");
	background-size: cover; /*ポイント!!!*/
	width: 100%;
	height: 100%; /*ここ変えて、収まった。*/
}

#nao-picture {
	background-image: url("nao.png");
	background-size: cover; /*ポイント!!!*/
	width: 100%;
	height: 100%; /*ここ変えて、収まった。*/
}

#fablearning-picture{
	background-image: url("fablearning.png");
	background-size: cover; /*ポイント!!!*/
	width: 100%;
	height: 100%; /*ここ変えて、収まった。*/
}

#fami-picture{
	background-image: url("fami.png");
	background-size: cover; /*ポイント!!!*/
	width: 100%;
	height: 100%; /*ここ変えて、収まった。*/
}


/*ここからモーダル写真*/
.modal-content {
    position:fixed;
    display:none;
    z-index:2;
    width:50%;
    margin:0;
    padding:10px 20px;
    border:2px solid #aaa;
    background:#fff;
}

.modal-content p {
    margin:0;
    padding:0;
}

.modal-overlay {
    z-index:1;
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:120%;
    background-color:rgba(0,0,0,0.75);
}

.modal-open {
    color:#00f;
    text-decoration:underline;
}

.modal-open:hover {
    cursor:pointer;
    color:#f00;
}

.modal-close {
    color:#00f;
    text-decoration:underline;
}

.modal-close:hover {
    cursor:pointer;
    color:#f00;
}