.inquiry-layout {
	text-align: center;
	background: #CCFFFF;
   	height: 100vh;
   	background: url("contact.JPG") 50% 0 no-repeat fixed;
   	background-size: cover; /*ポイント!!!*/

}


.inquiry-layout-recruit {
	text-align: center;
	background: #CCFFFF;
   	height: 100vh;
   	background: url("recruit.JPG") 50% 0 no-repeat fixed;
   	background-size: cover; /*ポイント!!!*/
}


.table {
	margin-left: 40%;
}

#logo-picture     {
	margin-top: 30px;
	margin-left: 20px;
	margin-left: 10px;
	margin-bottom: 20px;
	z-index: 0;
	background: url("co-step.jpg");
	background-size: cover; /*ポイント!!!*/
	width: 160px;
	height: 100px; /*ここ変えて、収まった。*/

}


#hideBox {
	display: none;
	z-index: 1;
	background-color: #F8F8FF;
	position: fixed;
	height: 100%;
	width: 15%;
	opacity: 0.6;
}

#pageTop {
	font-family: 'Maven Pro';
	font-size: 28px;
	color: black;
	text-decoration: none;
	margin: 10px 20px 10px 20px;
	display: float-left;
	opacity: 1;
}

.nButton {
	font-family: 'Maven Pro';
	font-size: 28px;
	color: black;
	text-decoration: none;
	margin: 10px 20px 10px 20px;
	display: float-left;
	opacity: 1;
}

.nButton:hover, #pageTop:hover {
	cursor: pointer;
	color: #7c2728;
}



     #box_srcollbar_recruit_contact {
     	text-align: center;
        text-align:left; /*左詰め*/
        width:700px;
        height:200px;
        
        border:1px solid #000;
       background-color:rgba(255,255,255,0.7);
        color:#000;
        font-size:12px;
        border-width: 5px;
       
        border-radius: 10px;
        z-index: -5;
        padding-left: 10px;

        
        margin-left: 25%; /*左からのボックスの距離*/
    }

