<h1>会社の目指す姿</h1>
<em>「暗闇に光を。たとえ小さな光でも、それが絶対だと信じられれば踏み出せる。」</em></br>

<p>私たちは先の進路が見えず不安になっている人たちに向けて小さな光を発信していきます。ただし、そこから一歩を踏み出し、歩むのはあなた自身。私たちはそんなきっかけとなる存在であり続けます。</p>


<div style="border-style: solid ; border-width: 5px; padding: 10px 50px 20px; border-radius: 10px;"><h2><%= link_to "back", co_steps_path %></h2>